.headbar{
  background-color: orange;
  height: 60px;
  font-family: 'Sarabun';
  font-size: 25px;
  text-align: left;
  padding-top: 5px;
  color: white;
}

.link{
  color: white;
}

.link:hover{
  color: black;
}

.textheadmenu{
  padding-top: 20px;
  text-decoration: underline;
  text-align: center;
  color: black;
}

.text{
  color: black;
}

.block{
  margin-top: 50px;
  margin-left: 300px;
}

.blockmenu{
  width: 300px;
  margin-left: 100px;
  float: left;
  text-align: center;
}

.imgmenu{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.buttoncoler{
  background-color: gray;
}